* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url("https://images.unsplash.com/photo-1518770660439-4636190af475");
    background-size: cover;
    background-position: center;
    color: white;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

p {
    margin-bottom: 40px;
    font-size: 1.2em;
    opacity: 0.9;
}

.menu a {
    display: block;
    width: 220px;
    text-align: center;
    margin: 10px 0;
    padding: 12px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    transition: 0.3s;
}

.menu a:hover {
    background-color: white;
    color: black;
}

/* ===== MENU DE NAVIGATION ===== */

.page-header {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px 20px;
    text-align: center;
    color: white;
}

.page-header h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

.page-header nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.page-header nav a {
    padding: 10px 22px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
}

.page-header nav a:hover {
    background-color: white;
    color: black;
}
/* ===== MENU DE NAVIGATION POUR MISSONS===== */
.menu-missions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.menu-missions a {
    width: 250px;
    text-align: center;
    margin: 10px;
    padding: 15px;
    text-decoration: none;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 30px;
    transition: 0.3s;
}

.menu-missions a:hover {
    background-color: #2c3e50;
    color: white;
}
